body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, serif;
}

main {
  background-color: black;
  min-height: 100vh;
  background-image: url("/static/background/sea.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.Navbar {
  background-color: transparent;
  padding: 10px;
  display: inline-block;
  width: 100%;
  text-align: center;

  div {
    display: inline;
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
  }

  a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    transition: all 0.2s ease-in-out;
  }

  a:hover {
    color: darkorange;
  }
}

.searchBlock {
  padding: 20px;
  background-color: white;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  .buttonDiv {
    width: 100%;
    position: relative;

    button {
      font-size: 16px;
      cursor: pointer;
      position: absolute;
      bottom: -40px;
      left: 0;
      right: 0;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 8px 8px;
      background-color: #28527A;
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      transition: all 0.2s ease-in-out;
    }

    button:hover {
      background-color: #8AC4D0;
    }
  }
}

.inputDiv {
  width: 40%;
  color: gray;

  label {
    margin-left: 5px;
    text-transform: uppercase;
    display: block;
  }

  input, select {
    background-color: lightgray;
    margin-top: 5px;
    font-size: 16px;
    width: 95%;
    padding: 8px 8px;
    border-radius: 5px;
    border: 1px solid lightgray;
  }

  select {
    width: 100%;
  }

}

.resultBlock {
  background-color: white;
  width: 70%;
  margin: 40px auto;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;


  .name {
    text-transform: uppercase;
  }

  .divElemSearch {
    background-color: #28527A;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

  }

  .rightSide {
    width: 80%;
    margin: 0 auto;
    height: 250px;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    overflow-x: auto;
    overflow-y: hidden;
  }

  h2 {
    color: white;
    text-align: center;
    font-weight: normal;
  }


}

form {
  background-color: white;
  width: 30%;
  margin: 50px auto;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 1rem;

  svg {
    font-size: 32px !important;
    color: #28527A;
  }

  label {
    display: block;
    width: 100%;
    text-transform: uppercase;
    color: #28527A;
    font-weight: bold;
  }

  input {
    padding: 10px 15px;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    display: block;
    width: 50%;
  }

  div {
    width: 100%;
    position: relative;

    button {
      background-color: #28527A;
      width: 50%;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 15px;
      position: absolute;
      right: 0;
      left: 0;
      margin: 0 auto;
      bottom: -50px;
      transition: all 0.2s ease-in-out;
      font-weight: bold;
      cursor: pointer;
    }
    button:hover
    {
      background-color: darkorange;
      color: #28527A;
    }
  }

}
